* {
    font-family: sans-serif;
}

.padded {
    padding: 5px;
}

header, footer {
    background-color: darkblue;
    color: white;
}

details {
    padding-left: 10px;
}

summary{
    background-color: lightblue;
    color: white;
    font-weight: bold;
    display: block;
    margin-left: -5px;
}
label {
    display: block;
    margin: 5px;
    padding: 5px;
}
input {
    float: right;
}

#dialogServer {
    display: none;
}

div.dialog {
    opacity: 0.9;
    position: absolute;
    top: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

.dialog h2 {
    background: linear-gradient(to right, rgb(0,0,102), rgb(153,153,255));
}

.dialog input {
    float: unset;
}